<ul class='postList'>
    <li class="postItem">
      <div class="postItemDiv orderly">
        <h1>{{post.title}}</h1>
        <h3>{{post.subtitle}}</h3>
        <h4>{{post.author_id}}</h4>
        <button type="button" name="deletePostButton" class="btn form-contol deletePostButton" id="{{post.postId}}">Delete Post</button>
        <p class="post-body">
          {{{post.body}}}
        </p>
      </div>
      <div class="comment-body">
        <p class="comment-form">
          {{{commentForm}}}
        </p>
        {{#each data}}
        <div class="aComment" id="{{this.commentId}}">{{{this.commentBody}}}</div>
        {{/each}}
      </div>

    </li>
</ul>
